nav ul a,
nav .brand-logo {
  color: #fdfefe ;
}

.sidenav-trigger {
    color: #26a69a;
}

.breadcrumb:before {
  color:purple;
}

.parallax-container {
  height: auto;
}

.linea {
  border: 2px solid red;
  border-radius: 50px;
}

categoria {
  font-size: 1em red;
}

.vl {
  border-left: 2px solid black;
  height: 185px;
}

h2 {
  color: black;
  font-weight: normal;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

footer {
  padding: 1em 0;
}


